$location-color: #eaeaea;
$footer-color: #353535;
$main-color: #f6f6f6;
$btn-gradient-color: linear-gradient(#ff79da, #9356dc);
$line-color: #99e2d0;
$numbering-color: #9356dc;
$icone-color: #7e7e7e;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
@mixin btn-shadow {
  box-shadow: 0px 4px 10px 0px #00000040;
}
@mixin list-style-none {
  list-style-type: none;
  padding-left: 0px;
}
