$location-color: #eaeaea;
$footer-color: #353535;
$main-color: #f6f6f6;
$btn-gradient-color: linear-gradient(#ff79da, #9356dc);
$line-color: #99e2d0;
$numbering-color: #9356dc;
$icone-color: #7e7e7e;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
@mixin btn-shadow {
  box-shadow: 0px 4px 10px 0px #00000040;
}
@mixin list-style-none {
  list-style-type: none;
  padding-left: 0px;
}
@mixin animation-coeur {
  .heart-label {
    cursor: pointer;
    display: inline-block;
    input[type="checkbox"] {
      display: none;
    }

    // .heart-label i::before {
    //   content: " \f08a ";
    // }
    input[type="checkbox"]:checked + i::before {
      font-weight: 900 !important;
      background: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
@mixin animation-check {
  .menu-anim-label {
    cursor: pointer;
    display: inline-block;
    input[type="checkbox"] {
      display: none;
    }
    // input[type="checkbox"]:checked {

    // }
  }
}
