* {
  font-family: "roboto", sans-serif;
}

@import "variable";

body {
  margin: 0px;
}
// loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-color;
  @include flex-center;
  z-index: 10;
  animation: stop-loader 50ms;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  transform-origin: top;
  .lettre {
    font-family: shrikhand;
    font-size: 40px;
    background: $btn-gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: flash 1.2s linear infinite;
  }
  @keyframes flash {
    0% {
      background: $btn-gradient-color;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      // text-shadow: 0 0 7px rgb(197, 197, 132);
    }
    90% {
      background: #dfc4c4;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    100% {
      background: $btn-gradient-color;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .lettre:nth-child(1) {
    animation-delay: 0s;
  }
  .lettre:nth-child(2) {
    animation-delay: 0.1s;
  }
  .lettre:nth-child(3) {
    animation-delay: 0.2s;
  }
  .lettre:nth-child(4) {
    animation-delay: 0.3s;
  }
  .lettre:nth-child(5) {
    animation-delay: 0.4s;
  }
  .lettre:nth-child(6) {
    animation-delay: 0.5s;
  }
  .lettre:nth-child(7) {
    animation-delay: 0.6s;
  }
  .lettre:nth-child(8) {
    animation-delay: 0.7s;
  }
  @keyframes stop-loader {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}
// header
.header-logo {
  @include flex-center();
  height: 63px;
  img {
    width: 200px;
    height: 30px;
  }
}
.localisation {
  @include flex-center();
  background-color: $location-color;
  height: 50px;
  gap: 17px;
  #location {
    border: 0px;
    background-color: $location-color;
    width: 110px;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: $footer-color;
    }
  }
}
// début main
// section présentation
.presentation {
  @include flex-center();
  flex-direction: column;
  background-color: $main-color;
  padding: 30px;
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
  }
  p {
    text-align: center;
    font-size: 18px;
    color: $footer-color;
  }
  .btn-gradient {
    text-decoration: none;
    color: white;
    background: $btn-gradient-color;
    border-radius: 25px;
    height: auto;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 19px;
    margin: 20px;
    border: 0px;
    @include btn-shadow();
    text-align: center;
    transition: opacity 300ms ease-out, box-shadow 300ms ease-out;

    &:hover {
      opacity: 0.85;
      box-shadow: 0px 8px 15px 0px #00000060;
    }
  }
}
// section fonctionnement
.fonctionnement {
  padding: 20px 20px 60px 20px;
  &-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include list-style-none;
    margin-left: 10px;

    li {
      @include flex-left;
      @include btn-shadow;
      gap: 30px;
      background-color: $main-color;
      height: 73px;
      border-radius: 20px;
      position: relative;
      padding-left: 35px;
      .nbr {
        @include flex-center();
        position: absolute;
        left: -10px;
        background: $numbering-color;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        p {
          color: white;
          font-size: 12px;
        }
      }
      h3 {
        font-weight: 500;
        font-size: 16px;
      }
      .fa-solid {
        font-size: 20px;
        color: $icone-color;
      }
      .fa-store {
        color: $numbering-color;
      }
    }
  }
}
// section restaurant
// le code de la section restaurant et des cartes est dans le fichier card-restaurants.scss
footer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: $footer-color;
  color: white;
  padding: 25px 25px;
  line-height: 2;
  .logo-container {
    padding-bottom: 15px;
    .logo-blanc {
      font-family: "Shrikhand", sans-serif;
      font-size: 18px;
    }
  }
  .footer-link-container {
    .footer-link {
      @include list-style-none;
      a {
        color: white;
        text-decoration: none;
      }
      padding: 0px;
      margin: 0px;
      .fa-utensils {
        font-size: 14px;
      }
      .fa-handshake-angle {
        font-size: 12px;
      }
    }
  }
}
