* {
  font-family: "roboto", sans-serif;
}
@import "variable";
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    .fa-arrow-left {
      font-size: 20px;
      color: $footer-color;
    }
  }
}
.img-restaurant {
  // position: relative;
  img {
    height: 275px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
  }
}
.menu-container-container {
  position: relative;
  background-color: $main-color;
  .menu-container {
    background-color: $main-color;
    // padding-top: -40px;
    z-index: 5;
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0px 0px;
    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // position: relative;
      // top: -40px;
      background-color: $main-color;
      border-radius: 40px 40px 0px 0px;
      padding: 30px 20px 10px 20px;
      h1 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 400;
        margin: 0px;
        font-size: 28px;
      }
      .fa-heart {
        font-size: 25px;
        margin-right: 30px;
      }
    }
    &-lists {
      @include list-style-none;
      margin-bottom: 0px;
      .menu-list-items {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: $footer-color;
        margin: 0px 20px 40px 20px;
        .menu-title {
          h2 {
            font-weight: 300;
            font-size: 16px;
            margin: 0px;
          }
        }
        .menu-title::after {
          content: "";
          display: block;
          border-bottom: 3px solid $line-color;
          width: 40px;
          margin-top: 5px;
        }

        .menu-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          border-radius: 15px;
          padding: 0px 15px;
          line-height: 10px;
          @include btn-shadow;
          p {
            font-size: 15px;
          }
          .item-price {
            p {
              font-weight: 700;
            }
          }
        }
      }
    }
    .btn-gradient-container {
      @include flex-center;

      .btn-gradient {
        background: $btn-gradient-color;
        border-radius: 25px;
        height: 50px;
        color: #eaeaea;
        font-weight: 500;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        // margin-top: 20px;
        margin-bottom: 0px;
        border: 0px;
        @include btn-shadow();
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
