* {
  font-family: "roboto", sans-serif;
}
@import "variable";
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    .fa-arrow-left {
      font-size: 20px;
      color: $footer-color;
    }
  }
}
.img-restaurant {
  // position: relative;
  img {
    height: 275px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-position: center;
  }
}
.menu-section {
  position: relative;
  background-color: $main-color;
  .menu-container {
    background-color: $main-color;
    // padding-top: -40px;
    z-index: 5;
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0px 0px;
    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      border-radius: 40px 40px 0px 0px;
      padding: 30px 20px 10px 20px;
      h1 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 400;
        margin: 0px;
        font-size: 28px;
      }
      .heart {
        .fa-regular {
          font-size: 25px;
          position: relative;
          left: 15px;
          transition: all 300ms ease-in-out;
        }
        .fa-solid {
          font-size: 25px;
          position: relative;

          right: 14px;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          font-weight: 900;
          background-image: $btn-gradient-color;
          opacity: 0;
          transition: all 300ms ease-in-out;
        }

        .fa-regular:hover {
          opacity: 0;
        }
        .fa-solid:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
    }
    &-lists {
      @include list-style-none;
      margin-bottom: 0px;
      .menu-list-items {
        display: flex;
        flex-direction: column;
        gap: 12px;

        margin: 0px 20px 40px 20px;
        .menu-title {
          h2 {
            font-weight: 300;
            font-size: 16px;
            margin: 0px;
            color: $footer-color;
          }
        }
        .menu-title::after {
          content: "";
          display: block;
          border-bottom: 3px solid $line-color;
          width: 40px;
          margin-top: 5px;
        }
        // animation du check
        .check-checkbox {
          display: none;
        }

        // .check-label {
        //   cursor: pointer;
        .menu-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          border-radius: 15px;
          padding-left: 15px;
          height: 80px;
          @include btn-shadow;
          text-overflow: ellipsis;
          .menu-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            h3 {
              width: auto;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            p {
              width: auto;
              font-size: 15px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .menu-price {
            overflow: hidden;
            @include flex-center;
            height: 100%;
            p {
              font-weight: 700;
              padding-right: 15px;
            }

            .menu-check {
              width: 0px;
              height: 100%;
              @include flex-center;
              background: $line-color;
              border-radius: 0px 15px 15px 0px;
              // margin-right: -60px;
              overflow: hidden;
              .fa-check {
                color: $line-color;
                background-color: white;
                border-radius: 100%;
                font-size: 15px;
                padding: 5px;
              }

              transition: all 300ms ease-in-out;
            }
          }

          &:hover {
            .menu-check {
              width: 60px;
            }
          }
        }
        // animation des menus
        @keyframes fade-in {
          0% {
            opacity: 0;
            transform: translateY(20px);
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .menu-item1 {
          animation: fade-in 0.5s ease 0.2s both;
        }
        .menu-item2 {
          animation: fade-in 0.5s ease 0.3s both;
        }
        .menu-item3 {
          animation: fade-in 0.5s ease 0.4s both;
        }
        .menu-item4 {
          animation: fade-in 0.5s ease 0.5s both;
        }
        .menu-item5 {
          animation: fade-in 0.5s ease 0.6s both;
        }
        .menu-item6 {
          animation: fade-in 0.5s ease 0.7s both;
        }
        .menu-item7 {
          animation: fade-in 0.5s ease 0.8s both;
        }
        .menu-item8 {
          animation: fade-in 0.5s ease 0.9s both;
        }
        .menu-item9 {
          animation: fade-in 0.5s ease 1s both;
        }
        // fin de l'animation des menus
        @keyframes fade-in-title {
          0% {
            opacity: 0;
            transform: translateX(-20px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
        .menu-title1 {
          animation: fade-in-title 0.5s ease 0.1s both;
        }
        .menu-title2 {
          animation: fade-in-title 0.5s ease 0.5s both;
        }
        .menu-title3 {
          animation: fade-in-title 0.5s ease 0.8s both;
        }
      }
    }
    .btn-gradient-container {
      @include flex-center;

      .btn-gradient {
        background: $btn-gradient-color;
        border-radius: 25px;
        height: 50px;
        color: #eaeaea;
        font-weight: 500;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        // margin-top: 20px;
        margin-bottom: 0px;
        border: 0px;
        @include btn-shadow;
        a {
          text-decoration: none;
          color: white;
        }
        transition: opacity 300ms;
        transition: box-shadow 300ms;
        &:hover {
          opacity: 0.85;
          box-shadow: 0px 8px 15px 0px #00000060;
        }
      }
    }
  }
}
