* {
  font-family: "roboto", sans-serif;
}

@import "variable";

body {
  margin: 0px;
}
// header
.header-logo {
  @include flex-center();
  height: 63px;
  img {
    width: 200px;
    height: 30px;
  }
}
.localisation {
  @include flex-center();
  background-color: $location-color;
  height: 50px;
  gap: 17px;
  #location {
    border: 0px;
    background-color: $location-color;
    width: 110px;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: $footer-color;
    }
  }
}
// début main
// section présentation
.presentation {
  @include flex-center();
  flex-direction: column;
  background-color: $main-color;
  padding: 30px;
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
  }
  p {
    text-align: center;
    font-size: 18px;
  }
  .btn-gradient {
    text-decoration: none;
    color: white;
    background: $btn-gradient-color;
    border-radius: 25px;
    height: auto;
    color: #eaeaea;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 19px;
    margin: 20px;
    border: 0px;
    @include btn-shadow();
    text-align: center;
  }
}
// section fonctionnement
.fonctionnement {
  padding: 20px 20px 60px 20px;
  ol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include list-style-none;
    margin-left: 10px;

    li {
      @include flex-left();
      @include btn-shadow();
      gap: 30px;
      background-color: $main-color;
      height: 73px;
      border-radius: 20px;
      position: relative;
      padding-left: 35px;
      .nbr {
        @include flex-center();
        position: absolute;
        left: -10px;
        background: #9356dc;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        p {
          color: white;
        }
      }
      h3 {
        font-weight: 500;
        font-size: 16px;
      }
      .fa-solid {
        font-size: 20px;
        color: #7e7e7e;
      }
      .fa-store {
        color: #9356dc;
      }
    }
  }
}
// section restaurant
// le code de la section restaurant et des cartes est dans le fichier index-card-restants.csss
footer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: $footer-color;
  color: white;
  padding: 25px 25px;
  .logo-container {
    .logo-blanc {
      font-family: "Shrikhand", sans-serif;
      font-size: 18px;
    }
  }
  .footer-link-container {
    .footer-link {
      @include list-style-none;
      a {
        color: white;
        text-decoration: none;
      }
      padding: 0px;
      margin: 0px;
      .fa-utensils {
        font-size: 14px;
      }
      .fa-handshake-angle {
        font-size: 12px;
      }
    }
  }
}
