* {
  font-family: "roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .arrow {
  position: absolute;
  top: 20px;
  left: 20px;
}
header .arrow .fa-arrow-left {
  font-size: 20px;
  color: #353535;
}

.img-restaurant img {
  height: 275px;
  width: 100%;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.menu-section {
  position: relative;
  background-color: #f6f6f6;
}
.menu-section .menu-container {
  background-color: #f6f6f6;
  z-index: 5;
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0px 0px;
}
.menu-section .menu-container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 30px 20px 10px 20px;
}
.menu-section .menu-container-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  margin: 0px;
  font-size: 28px;
}
.menu-section .menu-container-title .heart .fa-regular {
  font-size: 25px;
  position: relative;
  left: 15px;
  transition: all 300ms ease-in-out;
}
.menu-section .menu-container-title .heart .fa-solid {
  font-size: 25px;
  position: relative;
  right: 14px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-image: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.menu-section .menu-container-title .heart .fa-regular:hover {
  opacity: 0;
}
.menu-section .menu-container-title .heart .fa-solid:hover {
  opacity: 1;
  transform: scale(1.2);
}
.menu-section .menu-container-lists {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.menu-section .menu-container-lists .menu-list-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0px 20px 40px 20px;
}
.menu-section .menu-container-lists .menu-list-items .menu-title h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  color: #353535;
}
.menu-section .menu-container-lists .menu-list-items .menu-title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-top: 5px;
}
.menu-section .menu-container-lists .menu-list-items .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  height: 70px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-overflow: ellipsis;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-text h3 {
  font-size: 18px;
  font-weight: 500;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-text p {
  width: auto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0px;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-price {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-price p {
  font-weight: 700;
  padding-right: 15px;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-price .menu-check {
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.menu-section .menu-container-lists .menu-list-items .menu-item .menu-price .menu-check .fa-check {
  color: #99e2d0;
  background-color: white;
  border-radius: 100%;
  font-size: 15px;
  padding: 5px;
}
.menu-section .menu-container-lists .menu-list-items .menu-item:hover .menu-check {
  width: 60px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-section .menu-container-lists .menu-list-items .menu-item1 {
  animation: fade-in 0.5s ease 0.2s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item2 {
  animation: fade-in 0.5s ease 0.3s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item3 {
  animation: fade-in 0.5s ease 0.4s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item4 {
  animation: fade-in 0.5s ease 0.5s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item5 {
  animation: fade-in 0.5s ease 0.6s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item6 {
  animation: fade-in 0.5s ease 0.7s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item7 {
  animation: fade-in 0.5s ease 0.8s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item8 {
  animation: fade-in 0.5s ease 0.9s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-item9 {
  animation: fade-in 0.5s ease 1s both;
}
@keyframes fade-in-title {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu-section .menu-container-lists .menu-list-items .menu-title1 {
  animation: fade-in-title 0.5s ease 0.1s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-title2 {
  animation: fade-in-title 0.5s ease 0.5s both;
}
.menu-section .menu-container-lists .menu-list-items .menu-title3 {
  animation: fade-in-title 0.5s ease 0.8s both;
}
.menu-section .menu-container .btn-gradient-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-section .menu-container .btn-gradient-container .btn-gradient {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  height: 50px;
  color: #eaeaea;
  font-weight: 500;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0px;
  border: 0px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: opacity 300ms;
  transition: box-shadow 300ms;
}
.menu-section .menu-container .btn-gradient-container .btn-gradient a {
  text-decoration: none;
  color: white;
}
.menu-section .menu-container .btn-gradient-container .btn-gradient:hover {
  opacity: 0.85;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3764705882);
}

@media (min-width: 767.98px) {
  .menu-section {
    margin: 0px 13%;
  }
  .menu-section .menu-container {
    padding: 0px 15%;
  }
  .menu-section .menu-container-title {
    justify-content: center;
    gap: 25px;
  }
  .menu-section .menu-container-title h1 {
    font-size: 28px;
  }
  .menu-section .menu-container-title .fa-heart {
    font-size: 28px;
  }
  .menu-section .menu-container-lists .menu-list-items .menu-item h3 {
    font-size: 18px;
  }
  .menu-section .menu-container-lists .menu-list-items .menu-item p {
    font-size: 15px;
  }
}/*# sourceMappingURL=restaurant.css.map */